*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #003CA5;
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    min-width: 740px;
    height: 90px;
}

.conteudo{
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
    padding: 0 35px;
}

input{
    border: none;
    border-radius: 9px;
    height: 40px;
    text-align: center;
    width: 75%;
    min-width: 267px;
    font-size: 16px;
    cursor: pointer;
}

main h3{
    color: rgb(51, 51, 51);
}

.user{
    display: grid;
    grid-template-columns: 25% 65%;
    align-items: center;
    color: #f1f1f1;
    gap: 10px;
    font-size: 14px;
}

.conteudo .logo img{
    width: 100%;
    cursor: pointer;
    max-width: 215px;
    min-width: 185px;
}

a{
    color: inherit;
    text-decoration: none;
    width: 400px;
}

.textContent{
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}
.botaoUm, .botaoDois{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #f1f1f1; */
    border-radius: 4px;
    text-align: center;
    height: 50px;
    min-width: 60px;
    padding: 5px;
    color: #f1f1f1;
    cursor: pointer;
}

.botaoDois{
    min-width: 170px;
}

.botoes{
    display: grid;
    grid-template-columns: 10% 20%;
    gap: 20px;
    align-items: center;
}

.imgUser{
    display: grid;
    justify-self: end;
}
.text{
    width: 800px;
}
.container{
    display: flex;
    gap: 15px;
    padding: 16px;
    gap: 60px;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    min-width: 740px;
}
.contato img{
    width: 36px;
}

.card img{
    width: 20px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    width: 350px;
    background-color: #f1f1f1;
    gap: 10px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.descricao{
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    gap: 13px;
}
.textCurso{
    font-size: 12px;
    cursor: pointer;
}
button{
    width: 180px;
    height: 34px;
    border-radius: 5px;
    border: none;
    background-color: #003CA5;
    cursor: pointer;
    color: #f1f1f1;
}
#imgCurso{
    width: 280px;
    border-radius: 2px;
}
.topicos{
    display: flex;
    gap: 12px;
}
footer{
    display: grid;
    grid-template-columns: 10% 15% 70%;
    background-color: #003CA5;
    color: white;
    gap: 50px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    padding: 7px 15px;
    min-width: 740px;
}

.logoFooter{
    display: flex;
    flex-direction: column;
    height: 200px;
    min-width: 120px;
}

.div{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    gap: 13px;
    width: 70px;
}

.redesSociais{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 200px;
    width: 350px;
}

.aaa{
    display:flex;
    flex-direction: column;
    gap: 8px;
}

.redesSociais img{
    width: 36px;
}

.contato{
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 200px;
    width: 350px;
}

main{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 18px 0;
    min-width: 350px;
    min-height: 60vh;
}
.video{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-height: 350px;
    padding: 17px;
    border-radius: 8px;
    background-color: #f1f1f1;
    min-width: 340px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

}

@media (max-width: 740px) {
    header{
        display:grid;
        grid-template-columns: 80% 20%;
        width: 100%;
        height: auto;
        padding: 3px;
        min-width: 370px;
    }
    .conteudo{
        display: flex;
        min-width:auto;
        gap: 3px;
        padding: 0;
    }
    .logo{
        width: 230px
    }
    a{
        width: 220px;
    }
    main{
    min-height: 100vh;
}
    .botoes{
        display: grid;
        grid-template-columns: 10% 50%;
        min-width:auto;
        width: auto;
    }
    .botaoUm, .botaoDois{
        width: auto;
        height: 40px;
        min-width: none;
    }

    input{
        width: 300px;
        min-width:auto;
    }

    .conteudo .logo img{
        width: 100%;
        cursor: pointer;
        min-width: 110px;
    }
    .user{
        display: flex;
        justify-content: center;
    }
    .card{
        width: 400px;
    } 
    footer{
        display: flex;
        flex-wrap: wrap;
        width: auto;
        height: auto;
        min-width: 370px;
        gap: 16px;
    }
    .logoFooter{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 250px;
        min-width: none;
    }
    .redesSociais{
        height: auto;
    }
    .cadastro{
        display: none;
    }
    .contato{
        height: auto;
    }
    .cursos{
        padding-left: 55px;
    }
    .contaisner{
        min-width: 350px;
        display: flex;
        justify-content: center;
    }
    .container{
        min-width: 350px;
    }
    #botao{
        width: 200px;
    }
    .video{
        max-width: 300px;
        max-height: 200px;
    }
}